body{
    background: rgba(51,143,235,1);
background: -moz-linear-gradient(45deg, rgba(51,143,235,1) 0%, rgba(22,106,209,1) 52%, rgba(21,105,209,1) 53%, rgba(21,105,209,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(51,143,235,1)), color-stop(52%, rgba(22,106,209,1)), color-stop(53%, rgba(21,105,209,1)), color-stop(100%, rgba(21,105,209,1)));
background: -webkit-linear-gradient(45deg, rgba(51,143,235,1) 0%, rgba(22,106,209,1) 52%, rgba(21,105,209,1) 53%, rgba(21,105,209,1) 100%);
background: -o-linear-gradient(45deg, rgba(51,143,235,1) 0%, rgba(22,106,209,1) 52%, rgba(21,105,209,1) 53%, rgba(21,105,209,1) 100%);
background: -ms-linear-gradient(45deg, rgba(51,143,235,1) 0%, rgba(22,106,209,1) 52%, rgba(21,105,209,1) 53%, rgba(21,105,209,1) 100%);
background: linear-gradient(45deg, rgba(51,143,235,1) 0%, rgba(22,106,209,1) 52%, rgba(21,105,209,1) 53%, rgba(21,105,209,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#338feb', endColorstr='#1569d1', GradientType=1 );
}